#strap-line
	You need to login to access realtime news
	%br
	%br	
	= link_to "Login with Twitter", "/login", :class => 'button'

.midscreenprompt
	%p In order to get realtime updates you need to login with Twitter. We won't do anything with your details, or tweet on your belhalf.